body{
    padding-inline: 4rem;
    margin-top: 2rem;
    padding-bottom: 5.2rem;
    background-image: url(../images/bg.png), url(../images/bg2.png);
    background-position: left bottom, right top;
    background-size: 50%, 75%;
    background-repeat: no-repeat;
}

main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
    
}

.wrap{
    padding-right: calc(50% - 720px);
    padding-left: calc(50% - 720px);
}

button{
    transition: .3s;
}

button:hover{
	transform: scale(1.05);
}

/*header*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button{
    border: 1px solid #8B8B8B;
    border-radius: 5.6rem;
    padding: 0.6rem 1.25rem;
    background-color: white;
    cursor: pointer;
}

.exit{
    padding: 0.75rem 1.25rem
}

.account-img{
    border: 1px solid #3D9AFF;
    border-radius: 10rem;
    padding: 0.65rem 0.75rem
}

.header-profile{
    display: flex;
    gap: 0.625rem;
    align-items: center;
    font-size: 0.825rem;
    color: #8B8B8B;
    width: max-content
}

.name{
    color: black;
    width: max-content;
}

.header-profile-text{
    max-width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.3rem
}

/*main-content*/

/*profile*/

.profile-image{
    border-radius: 50%;
    border: #1170DC 0.5rem solid;
    width: 12rem;
    height: auto;
}

.profile{
    display: flex;
    gap: 4rem;
    align-items: center;
    color: #1170DC;
    font-size: 1.3rem;
    width: max-content;
    font-weight: 600;
    margin-bottom: 1rem;
    padding: 2rem;
    padding-right: 13rem;
    background-image: url(../images/stars.png);
    background-position: right top;
    background-size: 5rem;
    background-repeat: no-repeat;
}

.profile-text{
    max-width: fit-content;
    display: grid;
    gap: 1rem;
    color: black
}

i{
    color:#1170DC;
    font-weight: 500;
}


.scores-and-achievement{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.scores-and-achievement h3{
    color:#1170DC;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}

/*achievement*/

.achievement{
    width: 13rem;
    text-align: center;
    justify-items: center; 
}

.achievement-img{
    width: 7rem;
    height: auto;
}

.achievements{
    display: flex;
    max-width: fit-content;
    gap: 1rem; 
}

.achievement-block{
    border: #bdbdbd 3px dashed;
    border-radius: 3rem;
    padding:1.5rem;
    background-color: #ffffff;
}

.achievement h4{
    color: #1170DC;
    font-weight: 500;
    width: max-content;
    margin-block: 0.7rem;
    font-size: 1rem;
    
}

.achievement p{
    font-size: 0.9rem
}

/*scores*/

.scores{
    display: grid;
    gap: 0.5rem;
    border: #bdbdbd 3px dashed;
    border-radius: 3rem;
    padding: 1.5rem;
    background-color: #ffffff;
}

.scores-detail-block{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.scores-details{
    display: grid;
    gap: 1rem;
    font-weight: 500;
}

.monthly-scores{
    display: flex;
    gap: 1rem;
}

.score-img{
    width: 12rem
}

.scores-title{
    color:#1170DC;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}

.scores p{
    font-size: 0.9rem;
    align-items: center;
    font-weight: 500;
}

.rectangle{
    width: 1.7rem
}

/*skills*/

.skills{
    border-left: 3px dashed #bdbdbd;
    padding-inline: 1rem;
    position: relative;
    display: inline-block;
}

.skills-list{
    display: none;
    position: absolute;
    z-index: 1;
    list-style-type: circle;
    width: 14rem;
    padding-inline: 0.8rem;
    position: absolute;
    z-index: 1;
    margin-top: 2rem;
}

.skills p{
    margin-block: 0.3rem;
    font-size: 0.9rem;
}

li{
    margin-bottom: 0.9rem;
}

.skills-button{
    width: fit-content;
    font-size: 1.1rem;
    border-radius: 5.6rem;
    padding: 0.6rem 1.25rem;
    background-color: white;
    cursor: pointer;
    background-color: #3D9AFF;
    border: none;
    box-shadow: 0rem 0.25rem 1.125rem 0rem #D0E7FF;
    color: white;
    display: flex;
    gap: 0.2rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.skills:hover .skills-list{
    display:block;
}